/* DRUPAL THEME STYLES */
/* */
/* line 5, ../sass/drupal-styles.scss */
.link-wrapper {
  float: right;
  padding: 20px 0px;
}

/* line 10, ../sass/drupal-styles.scss */
.theme-default .nivoSlider {
  box-shadow: none !important;
}

/* line 12, ../sass/drupal-styles.scss */
#edit-checkout {
  margin-left: 10px;
}

/* line 16, ../sass/drupal-styles.scss */
.view-commerce-cart-form .form-type-textfield {
  margin-top: -5px !important;
}

/* line 20, ../sass/drupal-styles.scss */
.view-commerce-cart-form td {
  width: 24%;
  padding: 20px 15px 5px 15px;
}

/* line 25, ../sass/drupal-styles.scss */
.commerce-price-formatted-components .component-title, .commerce-price-formatted-components .component-total {
  padding: 15px;
}

/* line 29, ../sass/drupal-styles.scss */
.checkout-continue {
  margin-right: 10px;
}

/* line 33, ../sass/drupal-styles.scss */
.tabbed-title {
  font-size: 13px;
}

/* line 37, ../sass/drupal-styles.scss */
.site-map-menus .title {
  display: none;
}

/* line 41, ../sass/drupal-styles.scss */
div.home-intro {
  background-color: #141414;
}

/* line 45, ../sass/drupal-styles.scss */
#name-and-slogan {
  float: left;
  margin: 22px 0px;
}

/* line 50, ../sass/drupal-styles.scss */
body.sticky-menu-active header #name-and-slogan {
  float: left;
  margin: 45px 0px 0px 0px;
}

/* line 55, ../sass/drupal-styles.scss */
body.sticky-menu-active header #site-slogan {
  font-size: 12px;
}

/* line 59, ../sass/drupal-styles.scss */
body.sticky-menu-active header .logo {
  position: relative;
  margin: 45px 15px 0px 0px;
}

/* line 64, ../sass/drupal-styles.scss */
#site-name {
  margin: 5px 0px 10px 0px;
  font-size: 32px;
}

/* line 69, ../sass/drupal-styles.scss */
.slogan-no-name {
  margin-top: 25px;
}

/* line 73, ../sass/drupal-styles.scss */
body.sticky-menu-active header.single-menu .logo {
  margin-top: 60px;
}

/* line 77, ../sass/drupal-styles.scss */
header .logo {
  float: left;
  margin: 15px 20px 15px 0px;
  padding: 0;
  position: relative;
}

/* line 84, ../sass/drupal-styles.scss */
body.sticky-menu-active header #site-name {
  margin: 2px 0px -10px 0px;
  font-size: 22px;
}

/* line 89, ../sass/drupal-styles.scss */
.md-slide-wrap {
  margin-bottom: 0px !important;
}

/* line 93, ../sass/drupal-styles.scss */
.md-object .main-button {
  padding: 18px;
}

/* line 97, ../sass/drupal-styles.scss */
.mobile-menu {
  display: none;
  margin-top: 55px;
  width: 100%;
}

/* line 103, ../sass/drupal-styles.scss */
.nav-pills > li:hover > a {
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}

/* line 109, ../sass/drupal-styles.scss */
header.flat-menu nav ul.nav-main li ul li a {
  padding: 8px 10px 8px 5px;
}

/* line 115, ../sass/drupal-styles.scss */
.md-slide-wrap {
  margin-bottom: 0px;
}

/* line 119, ../sass/drupal-styles.scss */
.md-objects p {
  color: inherit;
}

/* line 123, ../sass/drupal-styles.scss */
.one-page-map {
  margin-top: -70px !important;
}

/* line 127, ../sass/drupal-styles.scss */
#header-top {
  overflow: hidden;
}

/* line 129, ../sass/drupal-styles.scss */
span.thumb-info-caption p {
  min-height: 60px;
}

/* line 133, ../sass/drupal-styles.scss */
.theme-default .nivo-controlNav {
  margin-top: -57px;
  padding: 20px 0;
  z-index: 5;
  position: absolute;
}

/* line 140, ../sass/drupal-styles.scss */
.theme-default .nivoSlider img {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

/* line 146, ../sass/drupal-styles.scss */
.form-item-search-block-form input[type="text"] {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
  width: 180px;
}

/* line 153, ../sass/drupal-styles.scss */
#search-block-form--2 .form-item-search-block-form input[type="text"] {
  width: 70%;
}

/* line 157, ../sass/drupal-styles.scss */
header div.search input:focus {
  width: auto !important;
}

/* line 161, ../sass/drupal-styles.scss */
#search-block-form .form-actions {
  padding: 3px 11px 4px 11px !important;
  display: inline-block;
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
  position: relative;
  top: -4px;
  margin-left: -5px;
}

/* line 172, ../sass/drupal-styles.scss */
#search-block-form--2 .form-actions {
  padding: 3px 11px 4px 11px !important;
  display: inline-block;
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
  position: relative;
  top: -4px;
  margin-left: -4px;
}

/* line 183, ../sass/drupal-styles.scss */
#user-login .form-actions {
  padding: 0px;
  background-color: transparent;
  border: none;
}

/* line 189, ../sass/drupal-styles.scss */
.block ul.primary li a {
  background: transparent;
  border: 0px;
}

/* line 194, ../sass/drupal-styles.scss */
.block ul.primary {
  border-bottom: 0px;
}

/* line 198, ../sass/drupal-styles.scss */
#block-search-form form {
  margin-bottom: -10px;
}

/* line 202, ../sass/drupal-styles.scss */
.footer-logo {
  float: left;
  margin-right: 10px;
}

/* line 207, ../sass/drupal-styles.scss */
.footer-logo img {
  height: 35px;
}

/* line 211, ../sass/drupal-styles.scss */
.contact-form .form-actions {
  padding: 20px 0px;
  background: transparent;
  border-top: none;
}

/* line 217, ../sass/drupal-styles.scss */
.comment-form .form-actions {
  padding: 20px 0px;
  background: transparent;
  border-top: none;
}

/* line 223, ../sass/drupal-styles.scss */
.comment-form .form-actions input[type="submit"] {
  margin-right: 10px;
}

/* line 227, ../sass/drupal-styles.scss */
.comment-form .form-type-textfield {
  margin-left: 0px;
}

/* line 231, ../sass/drupal-styles.scss */
.comment-form .form-item-name {
  margin-right: 30px;
}

/* line 235, ../sass/drupal-styles.scss */
.comment-form .form-type-textfield input[type="text"] {
  width: 100%;
}

/* line 239, ../sass/drupal-styles.scss */
.comment-form .form-textarea-wrapper {
  width: 97%;
}

/* line 243, ../sass/drupal-styles.scss */
.comment-form .form-textarea-wrapper .text-full {
  height: 250px;
}

/* line 247, ../sass/drupal-styles.scss */
.toggle label {
  font-weight: normal;
}

/* line 251, ../sass/drupal-styles.scss */
label {
  clear: both;
}

/* line 255, ../sass/drupal-styles.scss */
div.post-leave-comment h3 {
  margin: 0 0 25px !important;
}

/* line 259, ../sass/drupal-styles.scss */
.comment-form .filter-wrapper {
  margin-left: -20px;
  margin-top: 10px;
}

/* line 264, ../sass/drupal-styles.scss */
.comment .thumbnail img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
}

/* line 273, ../sass/drupal-styles.scss */
.comment-block .pull-right {
  margin-top: -10px;
  margin-bottom: 5px;
}

/* line 278, ../sass/drupal-styles.scss */
.indented {
  margin-left: 115px !important;
}

/* line 282, ../sass/drupal-styles.scss */
.post-medium-image .single-post-image {
  overflow: hidden;
}

/* line 286, ../sass/drupal-styles.scss */
article.post-medium-image {
  border-bottom: 1px solid #DDD;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

/* line 292, ../sass/drupal-styles.scss */
.single-post-image li {
  list-style: none;
  margin-left: -60px;
  margin-bottom: 30px;
}

/* line 298, ../sass/drupal-styles.scss */
ul.links.inline li {
  padding-left: 10px;
}

/* line 302, ../sass/drupal-styles.scss */
.comment-content p {
  clear: both;
  margin-left: 30px !important;
}

/* line 307, ../sass/drupal-styles.scss */
.profile .user-picture {
  margin-top: 60px !important;
}

/* line 311, ../sass/drupal-styles.scss */
#branding {
  display: inline-block;
  float: left;
}

/* line 316, ../sass/drupal-styles.scss */
#header-top {
  overflow: hidden;
}

/* line 320, ../sass/drupal-styles.scss */
.nav-top {
  float: right;
}

/* line 324, ../sass/drupal-styles.scss */
.dropdown i {
  margin-left: 5px;
}

/* line 328, ../sass/drupal-styles.scss */
.dropdown-menu i {
  display: none;
}

/* line 332, ../sass/drupal-styles.scss */
.dropdown-menu {
  margin-top: -3px;
}

/* line 336, ../sass/drupal-styles.scss */
footer h2 {
  font-size: 1.8em;
  margin-bottom: 14px;
  line-height: 27px;
}

/* line 342, ../sass/drupal-styles.scss */
hr {
  border: none !important;
}

/* line 346, ../sass/drupal-styles.scss */
div.testimonial-author div.thumbnail img {
  max-height: 100px;
  max-width: 100px;
}

/* line 351, ../sass/drupal-styles.scss */
.contact-form .form-item-name, .contact-form .form-item-subject {
  margin-left: 0px;
}

/* line 355, ../sass/drupal-styles.scss */
.contact-form .form-item-name input[type="text"] {
  width: 95%;
}

/* line 359, ../sass/drupal-styles.scss */
.contact-form .form-item-mail input[type="text"] {
  width: 93%;
}

/* line 363, ../sass/drupal-styles.scss */
.contact-form .form-item-subject input[type="text"] {
  width: 97%;
}

/* line 367, ../sass/drupal-styles.scss */
.contact-form .form-textarea-wrapper textarea {
  height: 200px;
}

/* line 371, ../sass/drupal-styles.scss */
.span6 .portfolio-item img {
  width: 560px;
}

/* line 375, ../sass/drupal-styles.scss */
.item-list ul li {
  margin: 0px !important;
}

/* TWITTER  WIDGET */
/* line 380, ../sass/drupal-styles.scss */
.tweet_list {
  font-size: 12px;
  color: #b4b4b4 !important;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  margin: 20px 0px 0px 0px;
}

/* line 390, ../sass/drupal-styles.scss */
.tweet_list img {
  margin-right: 10px;
  float: left;
  margin-bottom: 15px;
}

/* line 396, ../sass/drupal-styles.scss */
.tweet_list a {
  color: #4dbce9;
}

/* line 400, ../sass/drupal-styles.scss */
.tweet_list li {
  margin-bottom: 15px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  letter-spacing: 0.05em;
  list-style: none;
}

/* line 409, ../sass/drupal-styles.scss */
.tweet_avatar {
  margin-right: 5px;
}

/* line 413, ../sass/drupal-styles.scss */
.tweet_list:hover li {
  opacity: 0.5;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

/* line 421, ../sass/drupal-styles.scss */
.tweet_list li:hover {
  opacity: 1;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

/* line 429, ../sass/drupal-styles.scss */
.region-content .progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, whitesmoke, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whitesmoke), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, whitesmoke, #f9f9f9);
  background-image: -o-linear-gradient(top, whitesmoke, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 448, ../sass/drupal-styles.scss */
.region-content .progress .bar {
  width: 0%;
  height: 100%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/* line 475, ../sass/drupal-styles.scss */
.region-content .progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

/* line 480, ../sass/drupal-styles.scss */
.region-content .progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}

/* line 492, ../sass/drupal-styles.scss */
.region-content .progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

/* line 501, ../sass/drupal-styles.scss */
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* line 510, ../sass/drupal-styles.scss */
.region-content .progress-success .bar,
.region-content .progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

/* line 521, ../sass/drupal-styles.scss */
.region-content .progress-success.progress-striped .bar,
.region-content .progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* line 530, ../sass/drupal-styles.scss */
.region-content .progress-info .bar,
.region-content .progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}

/* line 541, ../sass/drupal-styles.scss */
.region-content .progress-info.progress-striped .bar,
.region-content .progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* line 550, ../sass/drupal-styles.scss */
.region-content .progress-warning .bar,
.region-content .progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

/* line 561, ../sass/drupal-styles.scss */
.region-content .progress-warning.progress-striped .bar,
.region-content .progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
