/*
Syntax error: Invalid CSS after "...-content-bottom": expected ";", was ": 15px;"
        on line 799 of /Users/pm5/src/einfo/pa/public/sites/all/themes/custom/edu/sass/style.scss

Backtrace:
/Users/pm5/src/einfo/pa/public/sites/all/themes/custom/edu/sass/style.scss:799
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `call'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `rethrow'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:554:in `block_child'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:535:in `block'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `call'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `run'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/bin/compass:44:in `call'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `load'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `<main>'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/pm5/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-content-bottom\": expected \";\", was \": 15px;\"\A         on line 799 of /Users/pm5/src/einfo/pa/public/sites/all/themes/custom/edu/sass/style.scss"; }
